@import 'tailwindcss';

@layer utilities {
  .font-roboto-mono {
    font-family: 'Roboto Mono', sans-serif;
  }
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  .font-pixel {
    font-family: 'coral Pixels', sans-serif;
  }
  .font-DM-sans {
    font-family: 'DM Sans', sans-serif;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
